{% extends 'base.html' %}

{% block content %}
<div class="col-12 col-lg-6 mb-5">
    <div class="card">
        <div class="card-body">
            <form action="" method="post">

                {{ form.csrf_token }}

                {{ form.first_name.label }}
                {{ form.first_name(class='form-control', placeholder='First Name') }}
        
                {{ form.last_name.label }}
                {{ form.last_name(class='form-control', placeholder='Last Name') }}
        
                {{ form.phone.label }}
                {{ form.phone(class='form-control', placeholder='Phone') }}
        
                {{ form.address.label }}
                {{ form.address(class='form-control', placeholder='Address') }}

                {{ form.submit(class='btn btn-success mt-3')}}

            </form>
        </div>

    </div>

</div>

{% endblock content %}