{% extends 'base.html' %}

{% block title %} Sign Up {% endblock title %}

{% block content %}
<div class="col">
    <div class="card mt-3">
        <div class="card-body">
            <form action="" method="post">

                {{ form.csrf_token }}

                {{ form.first_name.label }}
                {{ form.first_name(class='form-control', placeholder='Enter First Name') }}
        
                {{ form.last_name.label }}
                {{ form.last_name(class='form-control', placeholder='Enter Last Name') }}
        
                {{ form.username.label }}
                {{ form.username(class='form-control', placeholder='Enter Username') }}
        
                {{ form.email.label }}
                {{ form.email(class='form-control', placeholder='Enter Email') }}
        
                {{ form.password.label }}
                {{ form.password(class='form-control', placeholder='Enter Password') }}
        
                {{ form.confirm_pass.label }}
                {{ form.confirm_pass(class='form-control', placeholder='Confirm Password') }}

                {{ form.submit(class='btn btn-success mt-3')}}
        

            </form>
        </div>

    </div>
</div>

{% endblock content %}